<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-10">
                    <p class="pt-3">
                        <b><span th:text="${authenticatedUser.username}"></span></b> &nbsp; with roles:
                        <th:block th:each="role : ${authenticatedUser.getRoleSet()}">
                            <span th:text="${role.getAuthority().replaceAll('ROLE_', '')}"></span>
                        </th:block>
                    </p>
                </div>
                <div class="col-2 logout">
                    <a class="nav-link pt-3" th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </header>
<!-- Tab All Users-->
    <section>
        <div class="container-fluid ">
            <div class="row">
                <div class="col-2 left-bar pt-3 ps-0 pe-0 vh-100">
                    <th:block th:each="role : ${authenticatedUser.getRoleSet()}">
                        <div th:if="${role.getAuthority() == 'ROLE_ADMIN'}" class="sidebar-active p-0"><p class="mb-0"><a class="nav-link active" aria-current="page" th:href="@{/admin/}">Admin</a></p></div>
                        <div th:if="${role.getAuthority() == 'ROLE_USER'}" class="p-0"><p class="mb-0"><a  class="nav-link active" aria-current="page" th:href="@{/user}">User</a></p></div>
                    </th:block>
                </div>
                <div class="col-10 admin-panel vh-100 pt-3 pe-3">
                    <h2 class="ps-3">Admin panel</h2>
                    <nav class="ps-3">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">User table</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New User</button>
                        </div>
                    </nav>
                    <div class="tab-content ps-3" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                            <h4 class="mb-0 ms-0 pb-3 pt-3 ps-3 border">All users</h4>
                            <div class="p-4 left-bar">
                            <table class="table table-striped users-table border-top">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Roles</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:each="user : ${users}">
                                            <tr>
                                                <td><p th:text="${user.id}"></p> </td>
                                                <td><p th:text="${user.firstName}"></p> </td>
                                                <td><p th:text="${user.lastName}"></p> </td>
                                                <td><p th:text="${user.age}"></p> </td>
                                                <td><p th:text="${user.username}"></p> </td>
                                                <td>
                                                    <th:block th:each="role : ${user.getRoleSet()}">
                                                        <span th:text="${role.getAuthority().replaceAll('ROLE_', '')}">&nbsp;</span>
                                                    </th:block>
                                                    </p>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary edit-button" data-bs-toggle="modal" th:attr="data-bs-target=${'#editModal' + user.id}" >
                                                        Edit
                                                    </button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary delete-button" data-bs-toggle="modal" data-bs-target="#deleteModal" th:attr="data-bs-target=${'#deleteModal' + user.id}">
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                    </div>
<!-- Tab Create New User-->
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                        <h4 class="mb-0 ms-0 pb-3 pt-3 ps-3 border">Add new user</h4>
                        <div class="p-4 left-bar">
                            <form method="post" th:action="@{/admin/create}" th:object="${user}">
                                <div class="row mb-3 justify-content-center" >
                                    <div class="col-3 pt-3 justify-content-center align-items-center">
                                        <div class="text-center pt-3">Firstname</div>
                                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter firstname" th:field="*{firstName}"/>
                                        <div class="text-center pt-3">Lastname</div>
                                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter lastname" th:field="*{lastName}"/>
                                        <div class="text-center pt-3">Age</div>
                                        <input type="number" class="form-control" id="age" name="age" th:placeholder="${user.age}" placeholder="Enter age"/>
                                        <div class="text-center pt-3">Email</div>
                                        <input type="email" class="form-control" id="username" name="username" placeholder="Enter your email" th:field="*{username}"/>
                                        <div class="text-center pt-3">Password</div>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" th:field="*{password}"/>
                                        <div class="text-center pt-3">Role</div>
                                        <select class="w-100" size="2" name="authoritiesIds" id="rolesUser" multiple>
                                            <th:block th:each="role : ${roles}">
                                                <option th:value="${role.id}" th:text="${role.getAuthority().replaceAll('ROLE_', '')}"></option>
                                            </th:block>
                                        </select>
                                        <div class="justify-content-center d-grid gap-2 col-6 mx-auto pt-3">
                                            <button type="submit" class="btn btn-primary create-button">Add new user</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal windows -->
<!-- Edit Modal -->
<div th:each="user : ${users}" >
    <div class="modal fade" th:attr="id=${'editModal' + user.id}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" th:action="@{/admin/update(id=${user.id})}" th:object="${user}" >
            <div class="modal-body">
                    <div class="row mb-3 justify-content-center">
                        <div class="col-6 pt-3 justify-content-center align-items-center">
                            <div class="pt-3 text-center">ID</div>
                            <input type="number" class="form-control" id="idEditModal" name="id" th:placeholder="${user.id}" th:value="${user.id}" placeholder="Enter ID" disabled/>
                            <div class="pt-3 text-center">Firstname</div>
                            <input type="text" class="form-control" id="firstNameEditModal" name="firstName" th:placeholder="${user.firstName}" th:value="${user.firstName}" placeholder="Enter firstname"/>
                            <div class="pt-3 text-center">Lastname</div>
                            <input type="text" class="form-control" id="lastNameEditModal" name="lastName" th:placeholder="${user.lastName}" th:value="${user.lastName}" placeholder="Enter lastname"/>
                            <div class="pt-3 text-center">Age</div>
                            <input type="number" class="form-control" id="ageEditModal" name="age" th:placeholder="${user.age}" placeholder="Enter age" th:number="${user.age}" th:value="${user.age}"/>
                            <div class="pt-3 text-center">Email</div>
                            <input type="email" class="form-control" id="usernameEditModal" name="username" placeholder="Enter email" th:value="${user.username}"/>
                            <div class="pt-3 text-center">Password</div>
                            <input type="password" class="form-control" id="passwordEditModal" name="password" placeholder="Enter password"/>
                            <div class="pt-3 text-center">Role</div>
                            <select class="w-100" size="2" name="authoritiesIds" id="rolesUserEditModal" multiple>
                                <th:block th:each="role : ${roles}">
                                    <option th:value="${role.id}" th:text="${role.getAuthority().replaceAll('ROLE_', '')}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
            </form>
        </div>
    </div>
    </div>
</div>

<!-- Delete Modal -->
<div th:each="user : ${users}" >
    <div class="modal fade" th:attr="id=${'deleteModal' + user.id}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" th:action="@{/admin/delete(id=${user.id})}" th:object="${user}" >
                    <div class="modal-body">
                        <div class="row mb-3 justify-content-center">
                            <div class="col-6 pt-3 justify-content-center align-items-center">
                                <div class="pt-3 text-center">ID</div>
                                <input type="number" class="form-control" id="idDeleteModal" name="id" th:placeholder="${user.id}" th:value="${user.id}" placeholder="Enter ID" disabled/>
                                <div class="pt-3 text-center">Firstname</div>
                                <input type="text" class="form-control" id="firstNameDeleteModal" name="firstName" th:placeholder="${user.firstName}" th:value="${user.firstName}" placeholder="Enter firstname" disabled/>
                                <div class="pt-3 text-center">Lastname</div>
                                <input type="text" class="form-control" id="lastNameDeleteModal" name="lastName" th:placeholder="${user.lastName}" th:value="${user.lastName}" placeholder="Enter lastname" disabled/>
                                <div class="pt-3 text-center">Age</div>
                                <input type="number" class="form-control" id="ageDeleteModal" name="age" th:placeholder="${user.age}" placeholder="Enter age" th:number="${user.age}" th:value="${user.age}" disabled/>
                                <div class="pt-3 text-center">Email</div>
                                <input type="email" class="form-control" id="usernameDeleteModal" name="username" placeholder="Enter email" th:value="${user.username}" disabled/>
                                <div class="pt-3 text-center">Role</div>
                                <select class="w-100" size="2" name="authoritiesIds" id="rolesUserDeleteModal" multiple disabled>
                                    <th:block th:each="role : ${roles}">
                                        <option th:value="${role.id}" th:text="${role.getAuthority().replaceAll('ROLE_', '')}"></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button  type="submit" class="btn btn-primary">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>
</html>